/* body {
    background-color: #6a2235 ;
}

.main-container {
    background-color: rgb(168, 161, 161);
    border: 3px solid rgb(100, 86, 251);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

